* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey: hsl(0, 1%, 44%);
  --black: hsl(0, 0%, 8%);
  --purple: hsl(259, 100%, 65%);
  --red: hsl(0, 100%, 67%);
}

main {
  background: var(--off-white);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1440px;
  margin: auto;
  width: 1440px;
  height: 840px;
  max-height: 960px;
  background: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.app {
  margin: auto;
  max-width: 840px;
  width: 840px;
  max-height: 650px;
  background: var(--white);
  border-radius: 20px 20px 200px 20px;
  padding: 56px;
}

form {
  padding-bottom: 50px;
}

.form-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.form-control label {
  color: var(--smokey);
}

.form-control input {
  width: 160px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--light-grey);
  font-size: 32px;
  font-weight: 800;
  outline-color: var(--purple);
}

.form-control.error label {
  color: var(--red);
}

.form-control.error input {
  border: 1px solid var(--red);
}

.form-control .error {
  color: var(--red);
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  position: absolute;
  bottom: -26px;
}

.form-end {
  position: relative;
  width: 100%;
}

.line-border {
  height: 1px;
  width: 90%;
  background: var(--light-grey);
  position: absolute;
  top: 50px;
}

.btn {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: var(--purple);
  border: none;
  position: absolute;
  right: 20px;
  z-index: 5;
}

.show {
  padding-top: 36px;
}

.text-content {
  font-size: 80px;
  font-weight: 800;
  font-style: italic;
  color: var(--black);
}

.hl {
  color: var(--purple);
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .app {
    width: unset;
  }

  .form-wrapper {
    justify-content: space-between;
  }

  .form-control input {
    font-size: 28px;
  }

  .line-border {
    width: 100%;

    top: 60px;
  }

  .form-end .btn {
    width: 72px;
    height: 72px;
    right: 50%;
    transform: translateX(50%);
    top: 26px;
  }

  .text-content {
    font-size: 64px;
  }
}

@media screen and (max-width: 768px) {
  .app {
    padding: 40px;
  }

  .form-end .btn {
    width: 64px;
    height: 64px;

    top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .app {
    padding: 48px 24px;
    width: 85%;
    border-bottom-right-radius: 120px;
  }

  .form-control {
    gap: 10px;
  }

  .form-control input {
    max-width: 100px;
    padding: 16px;
    font-size: 18px;
  }

  .text-content {
    font-size: 56px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    width: 90%;
  }

  .form-control {
    gap: 5px;
  }

  .form-control input {
    width: 86px;
    padding: 8px;
    font-size: 18px;
  }

  .form-control .error {
    font-size: 12px;
  }

  .show {
    padding-top: unset;
    margin-top: 50px;
  }

  .form-wrapper {
    margin-bottom: 20px;
  }

  .form-control .error {
    bottom: -36px;
  }
  .text-content {
    font-size: 40px;
  }
}
